@{
    ViewData["Title"] = "About";

    var studentName = "Andre Antoine";
    var studentNumber = "101573321";
    var courseCode = "COMP2139";
    var courseSection = "4:00pm";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Welcome to the About Page</h1>
    <p>Student Name: @studentName</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Course Section: @courseSection</p>
</div>